<html>
<head>
	<title>The Gossip Project</title>
</head>
<body>
	<h1>Voici le potin <%= id%></h1>
		<h3>Auteur : </h3>
			<p>
		    <%= gossip.author %><br/>
		  </p>
		<h3>Gossip : </h3>
		  <p>
		    <%= gossip.content %>
		  </p>
</body>
</html>