<html>
	<head>
		<title>The Gossip Project</title>
	</head>
	<body>
		<h1>Bienvenue sur The Gossip Project!</h1>
		<a href="/gossips/new/">Créer un nouveau potin</a> <br/>
		<a href="/gossips/">Lire les potins</a>
	</body>
</html>